*$py.class
*.egg
*.egg-info/
*.iml
*.ipr
*.iws
*.py[cod]
*.retry
.ansible/
.cache/
.DS_Store
.eggs/
.idea/
.installed.cfg
.kitchen
.molecule
.Python
__pycache__/
atlassian-ide-plugin.xml
build/
data/
develop-eggs/
dist/
downloads/
eggs/
env/
lib/
lib64/
node_modules/
parts/
roles/
sdist/
var/
