[Unit]
Description=vault
Wants=basic.target
After=basic.target network.target
ConditionFileNotEmpty=/etc/vault/config.json

[Service]
User=vault
Group=vault
ExecStart=/usr/local/bin/vault server -config /etc/vault/config.json
ExecReload=/bin/kill --signal HUP $MAINPID
CapabilityBoundingSet=CAP_SYSLOG CAP_IPC_LOCK
Capabilities=CAP_IPC_LOCK+ep
SecureBits=keep-caps
NoNewPrivileges=yes
KillSignal=SIGINT
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
